#%RAML 1.0
title: Agent Authorisation Test Support
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json, application/hal+json ]
description: The Agent Authorisation Test Support API provides test-only ability to accept or reject an authorisation request created with Agent Authorisation API.

documentation:
 - title: Overview
   content: !include docs/overview.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

traits:
  headerErrors:
      responses:
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                badRequestUnsupportedVersion:
                    description: Missing or unsupported version found in 'Accept' header.
                    value:
                      code: BAD_REQUEST
                      message: Missing or unsupported version number
                badRequestUnsupportedContentType:
                    description: Missing or unsupported found in 'Accept' header.
                    value:
                      code: BAD_REQUEST
                      message: Missing or unsupported content-type.
        406:
          body:
            application/json:
              type: types.errorResponse
              examples:
                acceptHeaderMissing:
                  description: Missing 'Accept' header.
                  value:
                    code: ACCEPT_HEADER_INVALID
                    message: Missing 'Accept' header.
                acceptHeaderInvalid:
                    description: Invalid 'Accept' header.
                    value:
                      code: ACCEPT_HEADER_INVALID
                      message: Invalid 'Accept' header

/agent-authorisation-test-support:
  /invitations:
    /{id}:
        is: [headers.acceptHeader, headerErrors]

        put:
          displayName: Accept an invitation created with POST /agents/{arn}/invitations.
          headers:
            Content-Length:
              type: number
              required: true
              description: An empty PUT body must have this header value set to 0.

          responses:
            204:
              description: Invitation has been accepted
            404:
              description: Invitation not found for the given id
            409:
              description: Invitation already has been rejected or expired

        delete:
          displayName: Reject an invitation created with POST /agents/{arn}/invitations

          responses:
            204:
              description: Invitation has been rejected.
            404:
              description: Invitation not found for the given id
            409:
              description: Invitation already has been accepted or expired


